backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
bottle==0.12.9
certifi==2015.4.28
cffi==1.5.2
decorator==4.0.2
Flask==0.10.1
future==0.15.2
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
kitchen==1.2.1
MarkupSafe==0.23
Mopidy==1.1.0
Mopidy-Spotify==3.0.0
nhlscrapi==0.4.1
praw==3.2.1
psycopg2==2.6.1
pycparser==2.14
Pykka==1.2.1
pymongo==3.2.1
python-highcharts==0.2.0
requests==2.9.1
rtv==1.5
singledispatch==3.4.0.3
six==1.10.0
tornado==4.2.1
update-checker==0.11
virtualenv==14.0.6
Werkzeug==0.11.5
